
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #B0E0E6; display: flex;"">
        <div class="container-fluid">
          <a class="navbar-brand">Project A</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="http://127.0.0.1:8080/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href = "http://127.0.0.1:8080/login">로그인 / 회원가입</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href = "">Disabled</a>
              </li>

              
            </ul>
          </div>
        </div>
      </nav>